{% extends 'pc_app/base.html' %}
{% block title %}{{ mboard.name }}{% endblock %}
{% block content %}
{% load custom_filters %}
{% load static %}

<!-- <input type="hidden" name="rating" id="mboard_ratingInput" value="{{ rating_form.mboardRating.value }}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}">

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Motherboard Specifications</title>
</head>

<body>
  <header>
    <h3>Motherboard #{{mboard.id}} Specifications</h3>
  </header>

  <main>
    <div class="component-container">
      <section class="component-metadata">
        {% if rate %}
        <div class="star-rating">
          Previously Rated:
          <span class="fa fa-star {% if rate >= 1 %}checked{% endif %}"></span>
          <span class="fa fa-star {% if rate >= 2 %}checked{% endif %}"></span>
          <span class="fa fa-star {% if rate >= 3 %}checked{% endif %}"></span>
          <span class="fa fa-star {% if rate >= 4 %}checked{% endif %}"></span>
          <span class="fa fa-star {% if rate >= 5 %}checked{% endif %}"></span>
        </div>
        {% endif %}
        <br>
        
        <table>
          <thead>
            <tr>
              <th>Model <span class="icon" data-hover-text="The name or model of the motherboard" title="Hover for More Info">&#9432;</span></th>
              <th>{{ mboard.name }}</th>
            </tr>
          </thead>
          <tr>
            <td>Form Factor <span class="icon" data-hover-text="The physical size and shape of the motherboard, which affects its compatibility with PC cases" title="Hover for More Info">&#9432;</span></td>
            <td>{{ mboard.form_factor }}</td>
          </tr>
          <tr>
            <td>Socket <span class="icon" data-hover-text="The CPU socket type that determines which processors are compatible with the motherboard" title="Hover for More Info">&#9432;</span></td>
            <td>{{ mboard.socket }}</td>
          </tr>
          <tr>
            <td>Maximum Memory Supported <span class="icon" data-hover-text="The physical size and shape of the motherboard, which affects its compatibility with PC cases" title="Hover for More Info">&#9432;</span></td>
            <td>{{ mboard.max_memory }} GHz</td>
          </tr>
          <tr>
            <td>Memory Slots <span class="icon" data-hover-text="The number of slots available for installing RAM modules (DIMMs)" title="Hover for More Info">&#9432;</span></td>
            <td>{{ mboard.memory_slots }}</td>
          </tr>
          <tr>
            <td>Color </td>
            <td>{{ mboard.color }}</td>
          </tr>
          <tr>
            <td>Price</td>
            <td>RM {{ mboard.price|convert_to_myr }}</td>
          </tr>
          <!-- Add more Motherboard details as needed -->
        </table>

        <br>
        <div class="rating">
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}


          <form method="post" name="mboard_rating_form">
            {% csrf_token %}
            <select type="hidden" name="mboardRating" id="mboard_ratingInput" style="display: none;">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>

            <div id="star-rating">
              Re-rate:
              <ul class="btn btn-light list-inline rating-list">
                <li onclick="updateRating(5)" data-order-rating="5"><i class="fa fa-star" id="star-5"
                    title="Rate 5"></i>
                </li>
                <li onclick="updateRating(4)" data-order-rating="4"><i class="fa fa-star" id="star-4"
                    title="Rate 4"></i>
                </li>
                <li onclick="updateRating(3)" data-order-rating="3"><i class="fa fa-star" id="star-3"
                    title="Rate 3"></i>
                </li>
                <li onclick="updateRating(2)" data-order-rating="2"><i class="fa fa-star" id="star-2"
                    title="Rate 2"></i>
                </li>
                <li onclick="updateRating(1)" data-order-rating="1"><i class="fa fa-star" id="star-1"
                    title="Rate 1"></i>
                </li>
              </ul>
            </div>

            <button type="submit" name="mboard_rating_form">Rate</button>
          </form>

          <button class="select-button" onclick="selectComponent('mboard', '{{ mboard.id }}')">Add to Customize</button>

        </div>

      </section>

      <section class="component-comparison">
        <button id="chooseButton" class="compare-button">Select Motherboard to Compare</button>
        <div id="mboardList" class="component-list">
          <input type="text" id="mboardSearch" class="search-input" placeholder="Search Motherboards">
          <ul class="component-items">
            {% for other_mboard in other_mboards %}
            <li class="component-item">
              <a href="{% url 'mboard_comparison' mboard.pk other_mboard.pk %}" class="component-link">{{ other_mboard.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>

    </div>

  </main>
</body>



<script>
  // JavaScript for search functionality
  const mboardSearch = document.getElementById('mboardSearch');
  const mboardItems = document.querySelectorAll('#mboardList ul li');

  mboardSearch.addEventListener('input', () => {
    const searchValue = mboardSearch.value.toLowerCase();
    mboardItems.forEach(mboardItem => {
      const mboardName = mboardItem.textContent.toLowerCase();
      if (mboardName.includes(searchValue)) {
        mboardItem.style.display = 'list-item';
      } else {
        mboardItem.style.display = 'none';
      }
    });
  });

  document.getElementById('chooseButton').addEventListener('click', function () {
    const mboardList = document.querySelector('#mboardList'); // Use querySelector to select the first element with id 'mboardList'
    mboardList.style.display = (mboardList.style.display === 'none' || mboardList.style.display === '') ? 'block' : 'none';
  });


  // Function to update the star rating
  function updateRating(rating) {
    const starElements = document.querySelectorAll('.fa-star');

    // Remove 'checked' class from all stars
    starElements.forEach(star => {
      star.classList.remove('checked');
    });

    // Add 'checked' class to stars up to the selected rating
    for (let i = 1; i <= rating; i++) {
      document.getElementById('star-' + i).classList.add('checked');
    }

    // Set the selected rating in the dropdown
    document.getElementById('mboard_ratingInput').value = rating;
  }
</script>

</html>

{% endblock %}