{% extends 'pc_app/base.html' %}
{% block title %}{{ cpu1.name }} vs {{ cpu2.name }}{% endblock %}
{% block content %}
{% load custom_filters %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/comparison.css' %}">

<h3>CPU Comparison</h3>

<div class="comp-container">
    <div class="comp-box">
        <h3><a href="{% url 'cpu_detail' cpu1.pk %}">CPU: {{ cpu1.name }}</a></h3>
        <table>
            <tr>
                <th>Cores <span class="icon" data-hover-text="The number of processing cores"
                        title="Hover for More Info">&#9432;</span></th>
                <td>{{ cpu1.core_count }}</td>
            </tr>
            <tr>
                <td>Base Clock <span class="icon" data-hover-text="The base clock speed of the processing cores"
                        title="Hover for More Info">&#9432;</span></td>
                <td>{{ cpu1.core_clock }} GHz</td>
            </tr>
            <tr>
                <th>Max Turbo Clock <span class="icon"
                        data-hover-text="The maximum clock speed the cores can reach under load"
                        title="Hover for More Info">&#9432;</span></th>
                <td>{{ cpu1.boost_clock }} GHz</td>
            </tr>
            <tr>
                <td>Integrated Graphics <span class="icon"
                        data-hover-text="Information about the integrated graphics processing unit (GPU)"
                        title="Hover for More Info">&#9432;</span></td>
                <td>{{ cpu1.graphics }}</td>
            </tr>
            <tr>
                <th>Thermal Design Power <span class="icon"
                        data-hover-text="The maximum amount of power the cpu is designed to consume and dissipate as heat"
                        title="Hover for More Info">&#9432;</span></th>
                <td>{{ cpu1.tdp }}</td>
            </tr>
            <tr>
                <td>Multithreading <span class="icon"
                        data-hover-text="Indicates whether the cpu supports simultaneous multithreading, which can improve multitasking and performance"
                        title="Hover for More Info">&#9432;</span></td>
                <td>{% if cpu1.smt %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Socket <span class="icon"
                        data-hover-text="The type of CPU socket or interface used for connecting the cpu to the motherboard"
                        title="Hover for More Info">&#9432;</span></th>
                <td>{{ cpu1.socket }}</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>RM {{ cpu1.price|convert_to_myr }}</td>
            </tr>
        </table>
        <div class="button-container"><button class="select-button"
                onclick="selectComponent('cpu', '{{ cpu1.id }}')">Select for Customization</button></div>
    </div>

    <div class="vs-divider">VS</div>

    <div class="comp-box">
        <h3><a href="{% url 'cpu_detail' cpu2.pk %}">CPU: {{ cpu2.name }}</a></h3>
        <table>
            <tr>
                <th>Cores <span class="icon" data-hover-text="The number of processing cores"
                        title="Hover for More Info">&#9432;</span></th>
                <td>{{ cpu2.core_count }}</td>
            </tr>
            <tr>
                <td>Base Clock <span class="icon" data-hover-text="The base clock speed of the processing cores"
                        title="Hover for More Info">&#9432;</span></td>
                <td>{{ cpu2.core_clock }} GHz</td>
            </tr>
            <tr>
                <th>Max Turbo Clock <span class="icon"
                        data-hover-text="The maximum clock speed the cores can reach under load"
                        title="Hover for More Info">&#9432;</span></th>
                <td>{{ cpu2.boost_clock }} GHz</td>
            </tr>
            <tr>
                <td>Integrated Graphics <span class="icon"
                        data-hover-text="Information about the integrated graphics processing unit (GPU)"
                        title="Hover for More Info">&#9432;</span></td>
                <td>{{ cpu2.graphics }}</td>
            </tr>
            <tr>
                <th>Thermal Design Power <span class="icon"
                        data-hover-text="The maximum amount of power the cpu is designed to consume and dissipate as heat"
                        title="Hover for More Info">&#9432;</span></th>
                <td>{{ cpu2.tdp }}</td>
            </tr>
            <tr>
                <td>Multithreading <span class="icon"
                        data-hover-text="Indicates whether the cpu supports simultaneous multithreading, which can improve multitasking and performance"
                        title="Hover for More Info">&#9432;</span></td>
                <td>{% if cpu2.smt %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Socket <span class="icon"
                        data-hover-text="The type of CPU socket or interface used for connecting the cpu to the motherboard"
                        title="Hover for More Info">&#9432;</span></th>
                <td>{{ cpu2.socket }}</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>RM {{ cpu2.price|convert_to_myr }}</td>
            </tr>
        </table>
        <div class="button-container"><button class="select-button"
                onclick="selectComponent('cpu', '{{ cpu2.id }}')">Select for Customization</button></div>

    </div>
</div>

<div class="divider"></div>

<h3>CPU Chart</h3>
<div class="image-container"><img src="data:image/png;base64,{{ chart }}" alt="CPU Comparison Chart"></div>


{% endblock %}