{% extends 'pc_app/base.html' %}
{% block title %}{{ cpu1.name }} vs {{ cpu2.name }}{% endblock %}
{% block content %}
{% load custom_filters %}

<h2>CPU Comparison</h2>

<div class="cpu-box" style="display: inline-block; width: 45%; vertical-align: top;">
    <h3><a href="{% url 'cpu_detail' cpu1.pk %}">CPU: {{ cpu1.name }}</a></h3>
    <table>
        <tr>
            <th class="label">Cores</th>
            <td>{{ cpu1.core_count }}</td>
        </tr>
        <tr>
            <th class="label">Core Clock</th>
            <td>{{ cpu1.core_clock }}</td>
        </tr>
        <tr>
            <th class="label">Boost Clock</th>
            <td>{{ cpu1.boost_clock }}</td>
        </tr>
        <tr>
            <th class="label">Integrated Graphics</th>
            <td>{{ cpu1.graphics }}</td>
        </tr>
        <tr>
            <th class="label">TDP</th>
            <td>{{ cpu1.tdp }}</td>
        </tr>
        <tr>
            <th class="label">Multithreading</th>
            <td>{% if cpu1.smt %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <th class="label">Price</th>
            <td>RM{{ cpu1.price|convert_to_myr }}</td>
        </tr>
    </table>
    <br>
    <button class="select-button" onclick="selectComponent('cpu', '{{ cpu1.id }}')">Select for Customization</button>
</div>

VS 

<div class="cpu-box" style="display: inline-block; width: 45%; vertical-align: top;">
    <h3><a href="{% url 'cpu_detail' cpu2.pk %}">CPU: {{ cpu2.name }}</a></h3>
    <table>
        <tr>
            <th class="label">Cores</th>
            <td>{{ cpu2.core_count }}</td>
        </tr>
        <tr>
            <th class="label">Core Clock</th>
            <td>{{ cpu2.core_clock }}</td>
        </tr>
        <tr>
            <th class="label">Boost Clock</th>
            <td>{{ cpu2.boost_clock }}</td>
        </tr>
        <tr>
            <th class="label">Integrated Graphics</th>
            <td>{{ cpu2.graphics }}</td>
        </tr>
        <tr>
            <th class="label">TDP</th>
            <td>{{ cpu2.tdp }}</td>
        </tr>
        <tr>
            <th class="label">Multithreading</th>
            <td>{% if cpu2.smt %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <th class="label">Price</th>
            <td>RM{{ cpu2.price|convert_to_myr }}</td>
        </tr>
    </table>

    <br>
    <button class="select-button" onclick="selectComponent('cpu', '{{ cpu2.id }}')">Select for Customization</button>
</div>

<h1>CPU Chart</h1>
    <img src="data:image/png;base64,{{ chart }}" alt="CPU Comparison Chart">

<style>
    .label {
    /* border-right: 1px solid #000; adjust the color and thickness as needed */
    padding-right: 100px; /* add some space between the label and the line */
    padding-left: 40px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.cpu-box {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin-bottom: 20px;
    border: 1px solid #3d3d3d;
    padding: 20px;
    margin: 20px;
}

.cpu-box h2 {
    margin-bottom: 10px;
}

.cpu-box p {
    margin-bottom: 5px;
}

.select-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

.select-button:hover {
    background-color: #0056b3;
}
</style>
{% endblock %}