{% extends 'pc_app/base.html' %}
{% block title %}{{ case.name }}{% endblock %}
{% block content %}
{% load custom_filters %}
{% load static %}

<!-- <input type="hidden" name="rating" id="case_ratingInput" value="{{ rating_form.caseRating.value }}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}">

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chassis Specifications</title>
</head>

<body>
  <header>
    <h3>Chassis #{{case.id}} Specifications</h3>
  </header>

  <main>
    <div class="component-container">
      <section class="component-metadata">
        {% if rate %}
        <div class="star-rating">
          Previously Rated:
          <span class="fa fa-star {% if rate >= 1 %}checked{% endif %}"></span>
          <span class="fa fa-star {% if rate >= 2 %}checked{% endif %}"></span>
          <span class="fa fa-star {% if rate >= 3 %}checked{% endif %}"></span>
          <span class="fa fa-star {% if rate >= 4 %}checked{% endif %}"></span>
          <span class="fa fa-star {% if rate >= 5 %}checked{% endif %}"></span>
        </div>
        {% endif %}
        <br>
        <table>
          <thead>
            <tr>
              <th>Model <span class="icon" data-hover-text="The name or model of the PC chassis/case" title="Hover for More Info">&#9432;</span></th>
              <th>{{ case.name }}</th>
            </tr>
          </thead>
          <tr>
            <td>Type <span class="icon" data-hover-text="The type of chassis, indicating its design and size (e.g., ATX, Micro ATX, Mini-ITX)" title="Hover for More Info">&#9432;</span></td>
            <td>{{ case.type }}</td>
          </tr>
          <tr>
            <td>Color </td>
            <td>{{ case.color }}</td>
          </tr>
          <tr>
            <td>Side Panel <span class="icon" data-hover-text="Details regarding the side panel, whether it's solid, transparent, or has special features like tempered glass" title="Hover for More Info">&#9432;</span></td>
            <td>{{ case.side_panel }} GHz</td>
          </tr>
          <tr>
            <td>External 5.25" Bays <span class="icon" data-hover-text="The number of external 5.25-inch drive bays for optical drives or other peripherals" title="Hover for More Info">&#9432;</span></td>
            <td>{{ case.external_525_bays }}</td>
          </tr>
          <tr>
            <td>Internal 3.5" Bays <span class="icon" data-hover-text="The number of internal 3.5-inch drive bays for hard drives or SSDs" title="Hover for More Info">&#9432;</span></td>
            <td>{{ case.internal_35_bays }}</td>
          </tr>
          <tr>
            <td>Price</td>
            <td>RM {{ case.price|convert_to_myr }}</td>
          </tr>
          <!-- Add more Case details as needed -->
        </table>

        <br>
        <div class="rating">
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}


          <form method="post" name="case_rating_form">
            {% csrf_token %}
            <select type="hidden" name="caseRating" id="case_ratingInput" style="display: none;">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>

            <div id="star-rating">
              Re-rate:
              <ul class="btn btn-light list-inline rating-list">
                <li onclick="updateRating(5)" data-order-rating="5"><i class="fa fa-star" id="star-5"
                    title="Rate 5"></i>
                </li>
                <li onclick="updateRating(4)" data-order-rating="4"><i class="fa fa-star" id="star-4"
                    title="Rate 4"></i>
                </li>
                <li onclick="updateRating(3)" data-order-rating="3"><i class="fa fa-star" id="star-3"
                    title="Rate 3"></i>
                </li>
                <li onclick="updateRating(2)" data-order-rating="2"><i class="fa fa-star" id="star-2"
                    title="Rate 2"></i>
                </li>
                <li onclick="updateRating(1)" data-order-rating="1"><i class="fa fa-star" id="star-1"
                    title="Rate 1"></i>
                </li>
              </ul>
            </div>

            <button type="submit" name="case_rating_form">Rate</button>
          </form>

          <button class="select-button" onclick="selectComponent('case', '{{ case.id }}')">Add to Customize</button>

        </div>

      </section>

      <section class="component-comparison">
        <button id="chooseButton" class="compare-button">Select Case to Compare</button>
        <div id="caseList" class="component-list">
          <input type="text" id="caseSearch" class="search-input" placeholder="Search Cases">
          <ul class="component-items">
            {% for other_case in other_cases %}
            <li class="component-item">
              <a href="{% url 'case_comparison' case.pk other_case.pk %}" class="component-link">{{ other_case.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>

    </div>

  </main>
</body>



<script>
  // JavaScript for search functionality
  const caseSearch = document.getElementById('caseSearch');
  const caseItems = document.querySelectorAll('#caseList ul li');

  caseSearch.addEventListener('input', () => {
    const searchValue = caseSearch.value.toLowerCase();
    caseItems.forEach(caseItem => {
      const caseName = caseItem.textContent.toLowerCase();
      if (caseName.includes(searchValue)) {
        caseItem.style.display = 'list-item';
      } else {
        caseItem.style.display = 'none';
      }
    });
  });

  document.getElementById('chooseButton').addEventListener('click', function () {
    const caseList = document.querySelector('#caseList'); // Use querySelector to select the first element with id 'caseList'
    caseList.style.display = (caseList.style.display === 'none' || caseList.style.display === '') ? 'block' : 'none';
  });


  // Function to update the star rating
  function updateRating(rating) {
    const starElements = document.querySelectorAll('.fa-star');

    // Remove 'checked' class from all stars
    starElements.forEach(star => {
      star.classList.remove('checked');
    });

    // Add 'checked' class to stars up to the selected rating
    for (let i = 1; i <= rating; i++) {
      document.getElementById('star-' + i).classList.add('checked');
    }

    // Set the selected rating in the dropdown
    document.getElementById('case_ratingInput').value = rating;
  }
</script>

</html>

{% endblock %}