{% extends 'pc_app/base.html' %}
{% block title %}{{ psu.name }}{% endblock %}
{% block content %}
{% load custom_filters %}
{% load static %}

<!-- <input type="hidden" name="rating" id="psu_ratingInput" value="{{ rating_form.psuRating.value }}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}">

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Power Supply Specifications</title>
</head>

<body>
  <header>
    <h3>Power Supply #{{psu.id}} Specifications</h3>
  </header>

  <main>
    <div class="component-container">
      <section class="component-metadata">
        {% if rate %}
        <div class="star-rating">
          Previously Rated:
          <span class="fa fa-star {% if rate >= 1 %}checked{% endif %}"></span>
          <span class="fa fa-star {% if rate >= 2 %}checked{% endif %}"></span>
          <span class="fa fa-star {% if rate >= 3 %}checked{% endif %}"></span>
          <span class="fa fa-star {% if rate >= 4 %}checked{% endif %}"></span>
          <span class="fa fa-star {% if rate >= 5 %}checked{% endif %}"></span>
        </div>
        {% endif %}
        <br>

        <table>
          <thead>
            <tr>
              <th>Model <span class="icon" data-hover-text="The name or model of the power supply unit (PSU)" title="Hover for More Info">&#9432;</span></th>
              <th>{{ psu.name }}</th>
            </tr>
          </thead>
          <tr>
            <td>Type <span class="icon" data-hover-text="The type of power supply, indicating its form factor and usage (e.g., ATX, SFX, server-grade)" title="Hover for More Info">&#9432;</span></td>
            <td>{{ psu.type }}</td>
          </tr>
          <tr>
            <td>Efficiency <span class="icon" data-hover-text="Information about the PSU's energy efficiency rating, typically expressed as a percentage (e.g., 80 PLUS Bronze, Gold, Platinum)" title="Hover for More Info">&#9432;</span></td>
            <td>{{ psu.efficiency }}</td>
          </tr>
          <tr>
            <td>Wattage <span class="icon" data-hover-text="The maximum power output in watts that the PSU can deliver to your components" title="Hover for More Info">&#9432;</span></td>
            <td>{{ psu.wattage }}</td>
          </tr>
          <tr>
            <td>Modular <span class="icon" data-hover-text="Indicates whether the PSU has modular cables that can be disconnected, aiding cable management" title="Hover for More Info">&#9432;</span></td>
            <td>{{ psu.modular }}</td>
          </tr>
          <tr>
            <td>Color </td>
            <td>{{ psu.color }}</td>
          </tr>
          <tr>
            <td>Price</td>
            <td>$ {{ psu.price|convert_to_myr }}</td>
          </tr>
          <!-- Add more Power Supply details as needed -->
        </table>

        <br>
        <div class="rating">
          {% if cart_item %}
          <form method="post" name="psu_rating_form">
            {% csrf_token %}
            <select type="hidden" name="psuRating" id="psu_ratingInput" style="display: none;">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>

            <div id="star-rating">
              Rate PSU:<br>
              <ul class="btn btn-light list-inline rating-list">
                <li onclick="updateRating(5)" data-order-rating="5"><i class="fa fa-star" id="star-5"
                    title="Rate 5"></i>
                </li>
                <li onclick="updateRating(4)" data-order-rating="4"><i class="fa fa-star" id="star-4"
                    title="Rate 4"></i>
                </li>
                <li onclick="updateRating(3)" data-order-rating="3"><i class="fa fa-star" id="star-3"
                    title="Rate 3"></i>
                </li>
                <li onclick="updateRating(2)" data-order-rating="2"><i class="fa fa-star" id="star-2"
                    title="Rate 2"></i>
                </li>
                <li onclick="updateRating(1)" data-order-rating="1"><i class="fa fa-star" id="star-1"
                    title="Rate 1"></i>
                </li>
              </ul>
            </div>

            <button type="submit" name="psu_rating_form">Rate</button>
          </form>
          <button class="select-button" onclick="selectComponent('psu', '{{ psu.id }}')"><span class="fas fa-cog"></span> Select PSU</button>
          
          {% else %}
          <button class="select-button1" onclick="selectComponent('psu', '{{ psu.id }}')"><span class="fas fa-cog"></span> Select PSU</button>
          {% endif %}

        </div>

      </section>

      <section class="component-comparison">
        <button id="chooseButton" class="compare-button">Select Power Supply to Compare</button>
        <div id="psuList" class="component-list">
          <input type="text" id="psuSearch" class="search-input" placeholder="Search Power Supplys">
          <ul class="component-items">
            {% for other_psu in other_psus %}
            <li class="component-item">
              <a href="{% url 'psu_comparison' psu.pk other_psu.pk %}" class="component-link">{{ other_psu.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>

    </div>

  </main>
</body>



<script>
  // JavaScript for search functionality
  const psuSearch = document.getElementById('psuSearch');
  const psuItems = document.querySelectorAll('#psuList ul li');

  psuSearch.addEventListener('input', () => {
    const searchValue = psuSearch.value.toLowerCase();
    psuItems.forEach(psuItem => {
      const psuName = psuItem.textContent.toLowerCase();
      if (psuName.includes(searchValue)) {
        psuItem.style.display = 'list-item';
      } else {
        psuItem.style.display = 'none';
      }
    });
  });

  document.getElementById('chooseButton').addEventListener('click', function () {
    const psuList = document.querySelector('#psuList'); // Use querySelector to select the first element with id 'psuList'
    psuList.style.display = (psuList.style.display === 'none' || psuList.style.display === '') ? 'block' : 'none';
  });


  // Function to update the star rating
  function updateRating(rating) {
    const starElements = document.querySelectorAll('.fa-star');

    // Remove 'checked' class from all stars
    starElements.forEach(star => {
      star.classList.remove('checked');
    });

    // Add 'checked' class to stars up to the selected rating
    for (let i = 1; i <= rating; i++) {
      document.getElementById('star-' + i).classList.add('checked');
    }

    // Set the selected rating in the dropdown
    document.getElementById('psu_ratingInput').value = rating;
  }
</script>

</html>

{% endblock %}