{% extends 'pc_app/base.html' %}
{% block title %}{{ ram.name }}{% endblock %}
{% block content %}
{% load custom_filters %}
{% load static %}

<!-- <input type="hidden" name="rating" id="ram_ratingInput" value="{{ rating_form.ramRating.value }}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}">

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RAM Specifications</title>
</head>

<body>
  <header>
    <h3>RAM #{{ram.id}} Specifications</h3>
  </header>

  <main>
    <div class="component-container">
      <section class="component-metadata">
        {% if rate %}
        <div class="star-rating">
          Previously Rated:
          <span class="fa fa-star {% if rate >= 1 %}checked{% endif %}"></span>
          <span class="fa fa-star {% if rate >= 2 %}checked{% endif %}"></span>
          <span class="fa fa-star {% if rate >= 3 %}checked{% endif %}"></span>
          <span class="fa fa-star {% if rate >= 4 %}checked{% endif %}"></span>
          <span class="fa fa-star {% if rate >= 5 %}checked{% endif %}"></span>
        </div>
        {% endif %}
        <br>

        <table>
          <thead>
            <tr>
              <th>Model <span class="icon" data-hover-text="The name or model of the RAM modules" title="Hover for More Info">&#9432;</span></th>
              <th>{{ ram.name }}</th>
            </tr>
          </thead>
          <tr>
            <td>DDR Type <span class="icon" data-hover-text="The DDR (Double Data Rate) type, indicating the generation and technology of the RAM (e.g., DDR3, DDR4, DDR5)" title="Hover for More Info">&#9432;</span></td>
            <td>{{ ram.ddr_type }}</td>
          </tr>
          <tr>
            <td>Speed <span class="icon" data-hover-text="The clock speed of the RAM modules, typically measured in megahertz (MHz)" title="Hover for More Info">&#9432;</span></td>
            <td>{{ ram.speed_mhz }} Mhz</td>
          </tr>
          <tr>
            <td>Modules <span class="icon" data-hover-text="The quantity of individual RAM modules included in the kit" title="Hover for More Info">&#9432;</span></td>
            <td>x {{ ram.num_modules }}</td>
          </tr>
          <tr>
            <td>Memory Size <span class="icon" data-hover-text="The total capacity of the RAM in gigabytes (GB)" title="Hover for More Info">&#9432;</span></td>
            <td>{{ ram.memory_size }} GB</td>
          </tr>
          <tr>
            <td>Price per GB <span class="icon" data-hover-text="The cost of RAM per gigabyte, helping you assess the value for your money" title="Hover for More Info">&#9432;</span></td>
            <td>RM {{ ram.price_per_gb }}</td>
          </tr>
          <tr>
            <td>Color </td>
            <td>{{ ram.color }}</td>
          </tr>
          <tr>
            <td>First Word Latency <span class="icon" data-hover-text="The time delay in nanoseconds for the RAM to access the first word of data" title="Hover for More Info">&#9432;</span></td>
            <td>{{ ram.first_word_latency }}</td>
          </tr>
          <tr>
            <td>CAS Latency <span class="icon" data-hover-text="The CAS (Column Address Strobe) latency, representing the time it takes to read data from a column in RAM" title="Hover for More Info">&#9432;</span></td>
            <td>{{ ram.cas_latency }}</td>
          </tr>
          <tr>
            <td>Price</td>
            <td>RM {{ ram.price|convert_to_myr }}</td>
          </tr>
          <!-- Add more RAM details as needed -->
        </table>

        <br>
        <div class="rating">
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}


          <form method="post" name="ram_rating_form">
            {% csrf_token %}
            <select type="hidden" name="ramRating" id="ram_ratingInput" style="display: none;">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>

            <div id="star-rating">
              Re-rate:
              <ul class="btn btn-light list-inline rating-list">
                <li onclick="updateRating(5)" data-order-rating="5"><i class="fa fa-star" id="star-5"
                    title="Rate 5"></i>
                </li>
                <li onclick="updateRating(4)" data-order-rating="4"><i class="fa fa-star" id="star-4"
                    title="Rate 4"></i>
                </li>
                <li onclick="updateRating(3)" data-order-rating="3"><i class="fa fa-star" id="star-3"
                    title="Rate 3"></i>
                </li>
                <li onclick="updateRating(2)" data-order-rating="2"><i class="fa fa-star" id="star-2"
                    title="Rate 2"></i>
                </li>
                <li onclick="updateRating(1)" data-order-rating="1"><i class="fa fa-star" id="star-1"
                    title="Rate 1"></i>
                </li>
              </ul>
            </div>

            <button type="submit" name="ram_rating_form">Rate</button>
          </form>

          <button class="select-button" onclick="selectComponent('ram', '{{ ram.id }}')">Add to Customize</button>

        </div>

      </section>

      <section class="component-comparison">
        <button id="chooseButton" class="compare-button">Select RAM to Compare</button>
        <div id="ramList" class="component-list">
          <input type="text" id="ramSearch" class="search-input" placeholder="Search RAMs">
          <ul class="component-items">
            {% for other_ram in other_rams %}
            <li class="component-item">
              <a href="{% url 'ram_comparison' ram.pk other_ram.pk %}" class="component-link">{{ other_ram.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>

    </div>

  </main>
</body>



<script>
  // JavaScript for search functionality
  const ramSearch = document.getElementById('ramSearch');
  const ramItems = document.querySelectorAll('#ramList ul li');

  ramSearch.addEventListener('input', () => {
    const searchValue = ramSearch.value.toLowerCase();
    ramItems.forEach(ramItem => {
      const ramName = ramItem.textContent.toLowerCase();
      if (ramName.includes(searchValue)) {
        ramItem.style.display = 'list-item';
      } else {
        ramItem.style.display = 'none';
      }
    });
  });

  document.getElementById('chooseButton').addEventListener('click', function () {
    const ramList = document.querySelector('#ramList'); // Use querySelector to select the first element with id 'ramList'
    ramList.style.display = (ramList.style.display === 'none' || ramList.style.display === '') ? 'block' : 'none';
  });


  // Function to update the star rating
  function updateRating(rating) {
    const starElements = document.querySelectorAll('.fa-star');

    // Remove 'checked' class from all stars
    starElements.forEach(star => {
      star.classList.remove('checked');
    });

    // Add 'checked' class to stars up to the selected rating
    for (let i = 1; i <= rating; i++) {
      document.getElementById('star-' + i).classList.add('checked');
    }

    // Set the selected rating in the dropdown
    document.getElementById('ram_ratingInput').value = rating;
  }
</script>

</html>

{% endblock %}