{% extends 'pc_app/base.html' %}
{% block title %}{{ storage.name }}{% endblock %}
{% block content %}
{% load custom_filters %}
{% load static %}

<!-- <input type="hidden" name="rating" id="storage_ratingInput" value="{{ rating_form.storageRating.value }}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}">

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Storage Drive Specifications</title>
</head>

<body>
  <header>
    <h3>Storage Drive #{{storage.id}} Specifications</h3>
  </header>

  <main>
    <div class="component-container">
      <section class="component-metadata">
        {% if rate %}
        <div class="star-rating">
          Previously Rated:
          <span class="fa fa-star {% if rate >= 1 %}checked{% endif %}"></span>
          <span class="fa fa-star {% if rate >= 2 %}checked{% endif %}"></span>
          <span class="fa fa-star {% if rate >= 3 %}checked{% endif %}"></span>
          <span class="fa fa-star {% if rate >= 4 %}checked{% endif %}"></span>
          <span class="fa fa-star {% if rate >= 5 %}checked{% endif %}"></span>
        </div>
        {% endif %}
        <br>

        <table>
          <thead>
            <tr>
              <th>Model</th>
              <th>{{ storage.name }}</th>
            </tr>
          </thead>
          <tr>
            <td>Chipset <span class="icon" data-hover-text="" title="Hover for More Info">&#9432;</span></td>
            <td>{{ storage.chipset }}</td>
          </tr>
          <tr>
            <td>VRAM <span class="icon" data-hover-text="" title="Hover for More Info">&#9432;</span></td>
            <td>{{ storage.memory }} Gb</td>
          </tr>
          <tr>
            <td>Core Clock <span class="icon" data-hover-text="" title="Hover for More Info">&#9432;</span></td>
            <td>{{ storage.core_clock }} GHz</td>
          </tr>
          <tr>
            <td>Boost Clock <span class="icon" data-hover-text="" title="Hover for More Info">&#9432;</span></td>
            <td>{{ storage.boost_clock }}</td>
          </tr>
          <tr>
            <td>Color <span class="icon" data-hover-text="" title="Hover for More Info">&#9432;</span></td>
            <td>{{ storage.color }}</td>
          </tr>
          <tr>
            <td>Length <span class="icon" data-hover-text="" title="Hover for More Info">&#9432;</span></td>
            <td>{{ storage.length }}</td>
          </tr>
          <tr>
            <td>Price</td>
            <td>RM {{ storage.price|convert_to_myr }}</td>
          </tr>
          <!-- Add more Storage Drive details as needed -->
        </table>

        <br>
        <div class="rating">
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}


          <form method="post" name="storage_rating_form">
            {% csrf_token %}
            <select type="hidden" name="storageRating" id="storage_ratingInput" style="display: none;">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>

            <div id="star-rating">
              Re-rate:
              <ul class="btn btn-light list-inline rating-list">
                <li onclick="updateRating(5)" data-order-rating="5"><i class="fa fa-star" id="star-5"
                    title="Rate 5"></i>
                </li>
                <li onclick="updateRating(4)" data-order-rating="4"><i class="fa fa-star" id="star-4"
                    title="Rate 4"></i>
                </li>
                <li onclick="updateRating(3)" data-order-rating="3"><i class="fa fa-star" id="star-3"
                    title="Rate 3"></i>
                </li>
                <li onclick="updateRating(2)" data-order-rating="2"><i class="fa fa-star" id="star-2"
                    title="Rate 2"></i>
                </li>
                <li onclick="updateRating(1)" data-order-rating="1"><i class="fa fa-star" id="star-1"
                    title="Rate 1"></i>
                </li>
              </ul>
            </div>

            <button type="submit" name="storage_rating_form">Rate</button>
          </form>

          <button class="select-button" onclick="selectComponent('storage', '{{ storage.id }}')">Add to Customize</button>

        </div>

      </section>

      <section class="component-comparison">
        <button id="chooseButton" class="compare-button">Select Storage Drive to Compare</button>
        <div id="storageList" class="component-list">
          <input type="text" id="storageSearch" class="search-input" placeholder="Search Storage Drives">
          <ul class="component-items">
            {% for other_storage in other_storages %}
            <li class="component-item">
              <a href="{% url 'storage_comparison' storage.pk other_storage.pk %}" class="component-link">{{ other_storage.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>

    </div>

  </main>
</body>



<script>
  // JavaScript for search functionality
  const storageSearch = document.getElementById('storageSearch');
  const storageItems = document.querySelectorAll('#storageList ul li');

  storageSearch.addEventListener('input', () => {
    const searchValue = storageSearch.value.toLowerCase();
    storageItems.forEach(storageItem => {
      const storageName = storageItem.textContent.toLowerCase();
      if (storageName.includes(searchValue)) {
        storageItem.style.display = 'list-item';
      } else {
        storageItem.style.display = 'none';
      }
    });
  });

  document.getElementById('chooseButton').addEventListener('click', function () {
    const storageList = document.querySelector('#storageList'); // Use querySelector to select the first element with id 'storageList'
    storageList.style.display = (storageList.style.display === 'none' || storageList.style.display === '') ? 'block' : 'none';
  });


  // Function to update the star rating
  function updateRating(rating) {
    const starElements = document.querySelectorAll('.fa-star');

    // Remove 'checked' class from all stars
    starElements.forEach(star => {
      star.classList.remove('checked');
    });

    // Add 'checked' class to stars up to the selected rating
    for (let i = 1; i <= rating; i++) {
      document.getElementById('star-' + i).classList.add('checked');
    }

    // Set the selected rating in the dropdown
    document.getElementById('storage_ratingInput').value = rating;
  }
</script>

</html>

{% endblock %}