{% extends 'base.html' %}

{% block title %}{{ mboard.name }}{% endblock %}

{% block content %}

{% load custom_filters %}

<h1>Motherboard Details</h1>
<p>Motherboard: {{ mboard.name }}</p>
<p>Form Factor: {{ mboard.form_factor }}</p>
<p>Socket: {{ mboard.socket }}</p>
<p>Max Memory: {{ mboard.max_memory }}</p>
<p>Memory Slots: {{ mboard.memory_slots }}</p>
<p>Price: {{ mboard.price|convert_to_myr }}</p>
<p>Color: {{ mboard.color }}</p>

<h2>Select another GPU for comparison:</h2>
<form method="post" action="{% url 'mboard_detail' mboard.pk %}">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Compare</button>
</form>

{% endblock %}