{% extends 'pc_app/base.html' %}

{% block content %}

  <!DOCTYPE html>
  <html>
  <head>
      <title>Favorited PC Builds</title>
  </head>
  <body>
      <h1>Favorited PC Builds</h1>
      {% if favorited_builds %}
      <ul class="pc-builds-list">
          {% for build in favorited_builds %}
              <li class="pc-build">
                  <h2>{{ build.title }}</h2>
                  <ul class="pc-specs">
                      <li><strong>CPU:</strong> {{ build.cpu }}</li>
                      <li><strong>GPU:</strong> {{ build.gpu }}</li>
                      <li><strong>Motherboard:</strong> {{ build.mboard.name }}</li>
                      <li><strong>RAM:</strong> {{ build.ram }}</li>
                      <li><strong>Storage:</strong> {{ build.storage }}</li>
                      <li><strong>PSU:</strong> {{ build.psu }}</li>
                      <li><strong>Case:</strong> {{ build.case }}</li>
                      <li><strong>Total:</strong> {{ build.total_price }}</li>
                  </ul>
                  <div class="actions">
                    <form method="POST" action="{% url 'add_to_cart' build.id %}">
                      {% csrf_token %}
                      <button type="submit">Add to Cart</button>
                    </form>
          
                    <form method="POST" action="{% url 'delete_favorited_build' build.id %}">
                      {% csrf_token %}
                      <button type="submit">Unfavourite <i class="fas fa-heart-broken"></i></button>
                    </form>
                  </div>
              </li>
          {% endfor %}
      </ul>
      {% else %}
      <p>You have no favorited builds.</p>
    {% endif %}
  </body>
  </html>

<style>
h1 {
    color: #333;
}

.pc-builds-list {
    list-style: none;
    padding: 0;
}

.pc-build {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    box-shadow: 2px 2px 5px #888;
}

.pc-specs {
    list-style: none;
    padding: 0;
}

.pc-specs li {
    margin: 5px 0;
}

</style>

{% endblock %}
