<div class="container">
    <form method="post" action="{% url 'forgot_password' %}">
        {% csrf_token %}
        <h4>Forgot Password</h4>

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
        </div>

        <button type="submit">Submit</button>
    </form>

</div>