{% extends 'pc_app/base.html' %}
{% block content %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Recommended Build</title>
</head>

<body>
  <form action="{% url 'home' %}" method="post">
    {% csrf_token %}
    <label for="min_budget">Min Budget:</label>
    <input type="number" id="min_budget" name="min_budget">

    <label for="max_budget">Max Budget:</label>
    <input type="number" id="max_budget" name="max_budget" required>

    <label for="preferred">Select Your Use Case Preference:</label>
    <select id="preferred" name="preferred" required>
      <option value="">-- --</option>
      <option value="gaming">Gaming</option>
      <option value="content_creation">Content Creation</option>
      <option value="general">General Use</option>
    </select>

    <button type="submit" name="build_type" value="AMD">AMD Build</button>
    <button type="submit" name="build_type" value="Intel">Intel Build</button>
  </form>


  <h3>PC Build Recommendation</h3>
  <div class="recommended-builds-container">
    {% if metadata_builds %}
    <div class="recommended-build">
      {% for build in metadata_builds %}
      {% if forloop.counter <= 1 %} <p><strong>Build 1:</strong></p>
        <p><strong>CPU:</strong> {{ build.cpu.name }}</p>
        <p><strong>GPU:</strong> {{ build.gpu.name }} + {{ build.gpu.chipset }}</p>
        <p><strong>Motherboard:</strong> {{ build.mboard.name }}</p>
        <p><strong>RAM:</strong> {{ build.ram.name }}</p>
        <p><strong>Storage:</strong> {{ build.storage.name }}</p>
        <p><strong>Power Supply:</strong> {{ build.psu.name }}</p>
        <p><strong>Chassis:</strong> {{ build.case.name }}</p>
        <button class="select-button" onclick="selectAllComponents('{{ build.cpu.id }}', '{{ build.gpu.id }}', '{{ build.mboard.id }}', '{{ build.ram.id }}', '{{ build.psu.id }}', '{{ build.storage.id }}', '{{ build.case.id }}')">Copy Build</button>
        {% endif %}
        {% endfor %}
    </div>

    {% if knn_rating_builds %}
    <div class="recommended-build">
      {% for rating_build in knn_rating_builds %}
      {% if forloop.counter <= 1 %} <p><strong>Build 2:</strong></p>
        <p><strong>CPU:</strong> {{ rating_build.cpu.name }}</p>
        <p><strong>GPU:</strong> {{ rating_build.gpu.name }} - {{ rating_build.gpu.chipset }}</p>
        <p><strong>Motherboard:</strong> {{ rating_build.mboard.name }}</p>
        <p><strong>RAM:</strong> {{ rating_build.ram.name }}</p>
        <p><strong>Storage:</strong> {{ rating_build.storage.name }}</p>
        <p><strong>Power Supply:</strong> {{ rating_build.psu.name }}</p>
        <p><strong>Chassis:</strong> {{ rating_build.case.name }}</p>
        <button class="select-button" onclick="selectAllComponents('{{ rating_build.cpu.id }}', '{{ rating_build.gpu.id }}', '{{ rating_build.mboard.id }}', '{{ rating_build.ram.id }}', '{{ rating_build.psu.id }}', '{{ rating_build.storage.id }}', '{{ rating_build.case.id }}')">Copy Build</button>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <!-- Display 2 ratings builds if metadata does not exist -->
    {% elif knn_rating_builds %}
    <div class="recommended-build">
      {% for recommended_build in knn_rating_builds %}
      {% if forloop.counter <= 2 %} <p><strong>Build 2:</strong></p>
        <p><strong>CPU:</strong> {{ recommended_build.cpu.name }}</p>
        <p><strong>GPU:</strong> {{ recommended_build.gpu.name }} - {{ recommended_build.gpu.chipset }}</p>
        <p><strong>Motherboard:</strong> {{ recommended_build.mboard.name }}</p>
        {% endif %}
        {% endfor %}
    </div>

    {% else %}
    <p>No Build found within this budget!</p>

    <!-- Endif for `if metadata_builds` -->
    {% endif %}
  </div>
</body>


{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
    {% endfor %}
</ul>
{% endif %}


<br>


{% if rated_items %}
<h3>Ratings by other users!</h3><br>
<ul class="rating-container">
  {% for item in rated_items|reverse_queryset %}
  <li class="rating-column">
    <a href="{% url 'item_detail' item.id %}">
      {% if 'amd' in item.cpu.name|lower %}
      AMD Build
      {% elif 'intel' in item.cpu.name|lower %}
      Intel Build
      {% else %}
      Other Build
      {% endif %}
    </a>

    <div class="star-rating">
      <span class="fa fa-star {% if item.latest_rating >= 1 %}checked{% endif %}"></span>
      <span class="fa fa-star {% if item.latest_rating >= 2 %}checked{% endif %}"></span>
      <span class="fa fa-star {% if item.latest_rating >= 3 %}checked{% endif %}"></span>
      <span class="fa fa-star {% if item.latest_rating >= 4 %}checked{% endif %}"></span>
      <span class="fa fa-star {% if item.latest_rating >= 5 %}checked{% endif %}"></span>
    </div>

    <strong>User:</strong> {{ item.user.username }}<br>
    <strong>Comment:</strong> {{ item.latest_comment|default:"No comments yet" }}<br>
    <strong>Total Price:</strong> RM {{ item.total_price|convert_to_myr }}<br>

  </li>

  {% if forloop.counter|divisibleby:3 %} {# Close the row and start a new one after every 3 items #}
</ul>
<ul class="rating-container">
  {% endif %}
  {% endfor %}
</ul>
{% else %}
<p>No rated items yet.</p>
{% endif %}

</html>

<script>
    function selectAllComponents(cpuId, gpuId, mboardId, ramId, psuId, storageId, caseId) {
        selectComponent('cpu', cpuId, true);
        selectComponent('gpu', gpuId, true);
        selectComponent('motherboard', mboardId, true);
        selectComponent('ram', ramId, true);
        selectComponent('psu', psuId, true);
        selectComponent('storage', storageId, true);
        selectComponent('case', caseId, true);
    }

  function addTocart(cpuId, gpuId) {

  }
</script>


<style>
  .rating-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* space-between;*/
    list-style: none;
    padding: 0;
  }

  .rating-column {
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
  }

  .recommended-builds-container {
    display: flex;
    flex-wrap: wrap;
    /* Allow wrapping to the next line */
    gap: 20px;
    /* Adjust the spacing between recommended builds */
    max-width: 200%;
    /* Ensure the container doesn't exceed its parent's width */
    overflow-x: auto;
    /* Enable horizontal scrolling if needed */
    justify-content: center;
  }

  .recommended-build {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0;
    flex: 0 0 calc(33.33% - 20px);
    /* Adjust the width of each build to fit three builds in a row with spacing */
    box-sizing: border-box;
    /* Include padding and border in the width calculation */
  }
</style>

{% endblock %}