{% extends 'pc_app/base.html' %}

{% block content %}

{% load custom_filters %}

<h1>Item Details</h1>

<p><strong>PC Build:</strong> {{ item.cpu.name }} (CPU) / {{ item.gpu.chipset }} (GPU)</p>
<!-- <p><strong>Average Rating:</strong> </p> -->
<p><strong>Rating:</strong> {{ order_rating.rating|default:"No ratings yet" }}

<div class="star-rating">
    <span class="fa fa-star {% if order_rating.rating >= 1 %}checked{% endif %}"></span>
    <span class="fa fa-star {% if order_rating.rating >= 2 %}checked{% endif %}"></span>
    <span class="fa fa-star {% if order_rating.rating >= 3 %}checked{% endif %}"></span>
    <span class="fa fa-star {% if order_rating.rating >= 4 %}checked{% endif %}"></span>
    <span class="fa fa-star {% if order_rating.rating >= 5 %}checked{% endif %}"></span>
</div></p>

<p><strong>Comment:</strong> {{ order_rating.comment|default:"No comments yet" }}</p>
<p><strong>Total Price:</strong> {{ item.total_price|convert_to_myr }}</p>

<a href="{% url 'home' %}">Back to Home</a>

<button class="select-button" onclick="selectBothComponents('{{ item.cpu.id }}', '{{ item.gpu.id }}')">Copy Build</button>

<script>
    function selectBothComponents(cpuId, gpuId) {
        selectComponent('cpu', cpuId);
        selectComponent('gpu', gpuId);
    }
    </script>

{% endblock %}