{% extends 'pc_app/base.html' %}

{% block content %}

{% load custom_filters %}

<h3>Rated PC Build Specifications</h3>

<div style="padding: 20px; max-width: 1100px; margin-top: 20px; margin-bottom: 20px; border: 1px solid #ddd; border-radius: 5px;">
<div class="rating-column">
    <div class="profile-container">
        <div class="profile-picture-container">
            {% if order_rating.user.profile.profile_picture %}
            <img class="profile-picture" src="{{ user.profile.profile_picture.url }}" alt="PFP">
            {% else %}
            <img class="profile-picture"
                src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                alt="Default PFP">
            {% endif %}
        </div>
        <div class="username">
            {{ order_rating.user.username }}
        </div>
    </div>
    <div class="rating-date">{{item.order_rating.date_added}}</div>

    <br>

    <div class="star-rating">
        <span class="fa fa-star {% if order_rating.rating >= 1 %}checked{% endif %}"></span>
        <span class="fa fa-star {% if order_rating.rating >= 2 %}checked{% endif %}"></span>
        <span class="fa fa-star {% if order_rating.rating >= 3 %}checked{% endif %}"></span>
        <span class="fa fa-star {% if order_rating.rating >= 4 %}checked{% endif %}"></span>
        <span class="fa fa-star {% if order_rating.rating >= 5 %}checked{% endif %}"></span>
    </div>

    {{ order_rating.comment|default:"No comments yet" }}
    <br>

    <div style="max-width: 700px; margin-top: 20px; margin-bottom: 20px; border: 1px solid #ddd; border-radius: 5px;">
        <table>
            <tr>
                <th>Component</th>
                <th>Model</th>
                <th>    <button class="select-button"
                    onclick="selectAllComponents('{{ item.cpu.id }}', '{{ item.gpu.id }}', '{{ item.mboard.id }}', '{{ item.ram.id }}', '{{ item.psu.id }}', '{{ item.storage.id }}', '{{ item.case.id }}')">Copy
                    Build</button>
                </th>
            </tr>
            <tr>
                <td>CPU</td>
                <td><a href="{% url 'cpu_detail' item.cpu.id %}">{{ item.cpu }}</a></td>
            </tr>
            <tr>
                <td>GPU</td>
                <td><a href="{% url 'gpu_detail' item.gpu.id %}">{{ item.gpu }}</a></td>
            </tr>
            <tr>
                <td>RAM</td>
                <td><a href="{% url 'ram_detail' item.ram.id %}">{{ item.ram }}</a></td>
            </tr>
            <tr>
                <td>Motherboard</td>
                <td><a href="{% url 'mboard_detail' item.ram.id %}">{{ item.mboard }}</a></td>
            </tr>
            <tr>
                <td>PSU</td>
                <td><a href="{% url 'psu_detail' item.psu.id %}">{{ item.psu }}</a></td>
            </tr>
            <tr>
                <td>Storage</td>
                <td><a href="{% url 'storage_detail' item.storage.id %}">{{ item.storage }}</a></td>
            </tr>
            <tr>
                <td>Chassis</td>
                <td><a href="{% url 'case_detail' item.case.id %}">{{ item.case }}</a></td>
            </tr>
            <tr>
                <th>Total Price</th>
                <th></th>
                <th>RM {{ item.total_price|convert_to_myr }}</th>
            </tr>
        </table>
    </div>
</div>


    <script>
        function selectAllComponents(cpuId, gpuId, motherboardId, ramId, psuId, storageId, caseId) {
            selectComponent('cpu', cpuId, true);
            selectComponent('gpu', gpuId, true);
            selectComponent('motherboard', motherboardId, true);
            selectComponent('ram', ramId, true);
            selectComponent('psu', psuId, true);
            selectComponent('storage', storageId, true);
            selectComponent('case', caseId, true);
        }
    </script>

    <style>
        .rating-date {
            font-size: 12px;
            color: rgb(68, 68, 68);
        }

        .profile-container {
            display: flex;
            align-items: center;
        }

        .profile-picture-container {
            display: flex;
            width: 40px;
            height: 40px;
            overflow: hidden;
            border-radius: 50%;
            cursor: pointer;
        }


        .profile-picture-container {
            margin-right: 10px;
            /* Optional spacing between profile picture and username */
        }

        .profile-picture {
            max-width: 100px;
            /* Adjust the size as needed */
            max-height: 100px;
            /* Adjust the size as needed */
        }

        .username {
            font-size: 16px;
            /* Adjust the font size as needed */
        }
    </style>

    {% endblock %}