{% extends 'pc_app/base.html' %}

{% block title %}
    {{ proc_info.Name }} - {{ gpu_info.Name }}
{% endblock %}

{% block content %}
    <div>
        <h3>Your Current Build</h3>
        <p>CPU: {{ proc_info }}</p>
        <p>RAM Size and Speed(Mhz): {{ system_ram }}</p>
        <p>Graphics Card: {{ gpu_info }}</p>

        <button hidden id="suggest-upgrades" >Suggest Upgrades</button>
        <br>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}

        <!-- Placeholder for CPU and GPU Upgrades -->
        <div id="upgrade-suggestions">
            <!-- CPU Upgrade -->
            {% if cpu_upgrade %}
                <h4>CPU Upgrade</h4>
                <p>CPU: {{ cpu_upgrade }}</p>
            {% endif %}
            
            {% if ram_upgrade %}
                <h4>RAM Upgrade</h4>
                <p>RAM: {{ ram_upgrade }}</p>
            {% endif %}

            {% if gpu_upgrade %}
                <h4>GPU Upgrade</h4>
                <p>GPU: {{ gpu_upgrade }}</p>
            {% endif %}

            <!-- GPU Upgrade
            {% if suggested_gpu_upgrade %}
                <h3>Suggested GPU Upgrade</h3>
                <p>GPU: {{ suggested_gpu_upgrade.name }}</p>
                <p>Price: ${{ suggested_gpu_upgrade.price }}</p>
                <p>Core Count: {{ suggested_gpu_upgrade.core_count }}</p>
                <p>Core Clock: {{ suggested_gpu_upgrade.core_clock }} MHz</p>
                <p>Boost Clock: {{ suggested_gpu_upgrade.boost_clock }} MHz</p>
                <p>TDP: {{ suggested_gpu_upgrade.tdp }} W</p>
                <p>Integrated Graphics: {{ suggested_gpu_upgrade.graphics }}</p>
                <p>Multithreading: {% if suggested_gpu_upgrade.smt %}Yes{% else %}No{% endif %}</p>
                <p>Socket: {{ suggested_gpu_upgrade.socket }}</p>
            {% endif %} -->
        </div>
    </div>
{% endblock %}
