{% extends 'pc_app/base.html' %}
{% block content %}
{% load custom_filters %}

<div>
    <h4>Your Current Build</h4>
    <p>CPU: {{ proc_info }}</p>
    {% if ram_count > 1 %}
    <p>RAM: {{ ram_gb|multiply:ram_count }} GB ({{ ram_gb }}GB + {{ ram_speed}}Mhz) x{{ram_count}}</p>
    {% else %}
    <p>RAM: {{ ram_gb }} GB + {{ ram_speed }}Mhz x{{ram_count}}</p>
    {% endif %}

    <p>Graphics Card: {{ gpu_info }}</p>

    <br>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}

    <!-- Placeholder for CPU and GPU Upgrades -->
    <div id="upgrade-suggestions">
        <h4>PC Build Upgrade</h4>
        <form method="post">
            {% csrf_token %}
            <input type="number" name="budget" placeholder="Input Budget" style="width: 130px;">
            <button type="submit">Search</button>
        </form>
        <br>
        <!-- CPU Upgrade -->
        {% if cpu_upgrade %}
        <a href="{% url 'cpu_detail' cpu_upgrade.pk %}">
            <p>CPU: {{ cpu_upgrade }}</p>
        </a>
        {% else %}
            No CPU found with the set budget!
        {% endif %}
        <br>
        {% if ram_upgrade %}
        <a href="">
            <p>RAM: {{ ram_upgrade.name }} ({{ram_upgrade.memory_size }}GB + {{ram_upgrade.speed_mhz}}Mhz)
                x{{ram_upgrade.num_modules }}</p>
        </a>
        {% else %}
            No RAM found with the set budget!
        {% endif %}
        <br>
        {% if gpu_upgrade %}
        <a href="{% url 'gpu_detail' gpu_upgrade.pk %}">
            <p>GPU: {{ gpu_upgrade }}</p>
        </a>
        {% else %}
            No GPU found with the set budget!
        {% endif %}

        <!-- GPU Upgrade
            {% if suggested_gpu_upgrade %}
                <h3>Suggested GPU Upgrade</h3>
                <p>GPU: {{ suggested_gpu_upgrade.name }}</p>
                <p>Price: ${{ suggested_gpu_upgrade.price }}</p>
                <p>Core Count: {{ suggested_gpu_upgrade.core_count }}</p>
                <p>Core Clock: {{ suggested_gpu_upgrade.core_clock }} MHz</p>
                <p>Boost Clock: {{ suggested_gpu_upgrade.boost_clock }} MHz</p>
                <p>TDP: {{ suggested_gpu_upgrade.tdp }} W</p>
                <p>Integrated Graphics: {{ suggested_gpu_upgrade.graphics }}</p>
                <p>Multithreading: {% if suggested_gpu_upgrade.smt %}Yes{% else %}No{% endif %}</p>
                <p>Socket: {{ suggested_gpu_upgrade.socket }}</p>
            {% endif %} -->
    </div>
</div>
{% endblock %}