{% extends 'pc_app/base.html' %}
{% block title %}{{ gpu1.name }} vs {{ gpu2.name }}{% endblock %}
{% block content %}
{% load custom_filters %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/comparison.css' %}">

<h3>GPU Comparison</h3> 

<div class="comp-container">
    <div class="comp-box">
        <h3><a href="{% url 'gpu_detail' gpu1.pk %}">GPU: {{ gpu1.name }}</a></h3>
        <table>
            <tr>
                <th>Chipset <span class="icon" data-hover-text="The GPU chipset or architecture, which defines its capabilities and features" title="Hover for More Info">&#9432;</span></th>
                <td>{{ gpu1.chipset }}</td>
              </tr>
              <tr>
                <td>VRAM <span class="icon" data-hover-text="The amount of video memory (VRAM) the GPU has for storing textures and data" title="Hover for More Info">&#9432;</span></td>
                <td>{{ gpu1.memory }} GB</td>
              </tr>
              <tr>
                <th>Core Clock <span class="icon" data-hover-text="The base clock speed of the GPU's processing cores" title="Hover for More Info">&#9432;</span></th>
                <td>{{ gpu1.core_clock }} GHz</td>
              </tr>
              <tr>
                <td>Boost Clock <span class="icon" data-hover-text="The maximum clock speed the GPU can reach under heavy workloads" title="Hover for More Info">&#9432;</span></td>
                <td>{{ gpu1.boost_clock }} Ghz </td>
              </tr>
              <tr>
                <th>Color</th>
                <td>{{ gpu1.color }}</td>
              </tr>
              <tr>
                <td>Length <span class="icon" data-hover-text="The physical length or size of the GPU, which can be important for fitting into your PC case or chassis" title="Hover for More Info">&#9432;</span></td>
                <td>{{ gpu1.length }}</td>
              </tr>
              <tr>
                <th>Price</th>
                <td>RM {{ gpu1.price|convert_to_myr }}</td>
              </tr>
        </table>
        <div class="button-container"><button class="select-button"
                onclick="selectComponent('gpu', '{{ gpu1.id }}')">Select for Customization</button></div>
    </div>

    <div class="vs-divider">VS</div>

    <div class="comp-box">
        <h3><a href="{% url 'gpu_detail' gpu2.pk %}">GPU: {{ gpu2.name }}</a></h3>
        <table>
            <tr>
                <th>Chipset <span class="icon" data-hover-text="The GPU chipset or architecture, which defines its capabilities and features" title="Hover for More Info">&#9432;</span></td>
                <td>{{ gpu2.chipset }}</td>
              </tr>
              <tr>
                <td>VRAM <span class="icon" data-hover-text="The amount of video memory (VRAM) the GPU has for storing textures and data" title="Hover for More Info">&#9432;</span></td>
                <td>{{ gpu2.memory }} GB</td>
              </tr>
              <tr>
                <th>Core Clock <span class="icon" data-hover-text="The base clock speed of the GPU's processing cores" title="Hover for More Info">&#9432;</span></td>
                <td>{{ gpu2.core_clock }} GHz</td>
              </tr>
              <tr>
                <td>Boost Clock <span class="icon" data-hover-text="The maximum clock speed the GPU can reach under heavy workloads" title="Hover for More Info">&#9432;</span></td>
                <td>{{ gpu2.boost_clock }} Ghz </td>
              </tr>
              <tr>
                <th>Color</td>
                <td>{{ gpu2.color }}</td>
              </tr>
              <tr>
                <td>Length <span class="icon" data-hover-text="The physical length or size of the GPU, which can be important for fitting into your PC case or chassis" title="Hover for More Info">&#9432;</span></td>
                <td>{{ gpu2.length }}</td>
              </tr>
              <tr>
                <th>Price</td>
                <td>RM {{ gpu2.price|convert_to_myr }}</td>
              </tr>
        </table>
        <div class="button-container"><button class="select-button"
                onclick="selectComponent('gpu', '{{ gpu2.id }}')">Select for Customization</button></div>
    </div>
</div>

<div class="divider"></div>

<h3>GPU Chart</h3>
<div class="image-container"><img src="data:image/png;base64,{{ chart }}" alt="GPU Comparison Chart"></div>


{% endblock %}