{% extends 'pc_app/base.html' %}
{% block title %}{{ gpu.name }}{% endblock %}
{% block content %}
{% load custom_filters %}
{% load static %}

<!-- <input type="hidden" name="rating" id="gpu_ratingInput" value="{{ rating_form.gpuRating.value }}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}">

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GPU Specifications</title>
</head>

<body>
  <header>
    <h3>GPU #{{gpu.id}} Specifications</h3>
  </header>

  <main>
    <div class="component-container">
      <section class="component-metadata">
        {% if rate %}
        <div class="star-rating">
          Previously Rated:
          <span class="fa fa-star {% if rate >= 1 %}checked{% endif %}"></span>
          <span class="fa fa-star {% if rate >= 2 %}checked{% endif %}"></span>
          <span class="fa fa-star {% if rate >= 3 %}checked{% endif %}"></span>
          <span class="fa fa-star {% if rate >= 4 %}checked{% endif %}"></span>
          <span class="fa fa-star {% if rate >= 5 %}checked{% endif %}"></span>
        </div>
        {% endif %}
        <br>
        <table>
          <thead>
            <tr>
              <th>Model <span class="icon" data-hover-text="The name or model of the graphics processing unit (GPU)" title="Hover for More Info">&#9432;</span></th>
            <th>{{ gpu.name }}</th>
            </tr>
          </thead>
          <tr>
            <td>Chipset <span class="icon" data-hover-text="The GPU chipset or architecture, which defines its capabilities and features" title="Hover for More Info">&#9432;</span></td>
            <td>{{ gpu.chipset }}</td>
          </tr>
          <tr>
            <td>VRAM <span class="icon" data-hover-text="The amount of video memory (VRAM) the GPU has for storing textures and data" title="Hover for More Info">&#9432;</span></td>
            <td>{{ gpu.memory }} GB</td>
          </tr>
          <tr>
            <td>Core Clock <span class="icon" data-hover-text="The base clock speed of the GPU's processing cores" title="Hover for More Info">&#9432;</span></td>
            <td>{{ gpu.core_clock }} GHz</td>
          </tr>
          <tr>
            <td>Boost Clock <span class="icon" data-hover-text="The maximum clock speed the GPU can reach under heavy workloads" title="Hover for More Info">&#9432;</span></td>
            <td>{{ gpu.boost_clock }} Ghz </td>
          </tr>
          <tr>
            <td>Color</td>
            <td>{{ gpu.color }}</td>
          </tr>
          <tr>
            <td>Length <span class="icon" data-hover-text="The physical length or size of the GPU, which can be important for fitting into your PC case or chassis" title="Hover for More Info">&#9432;</span></td>
            <td>{{ gpu.length }}</td>
          </tr>
          <tr>
            <td>Price</td>
            <td>$ {{ gpu.price|convert_to_myr }}</td>
          </tr>
          <!-- Add more GPU details as needed -->
        </table>

        <br>
        <div class="rating">
          {% if cart_item %}
          <form method="post" name="gpu_rating_form">
            {% csrf_token %}
            <select type="hidden" name="gpuRating" id="gpu_ratingInput" style="display: none;">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>

            <div id="star-rating">
              Rate GPU:<br>
              <ul class="btn btn-light list-inline rating-list">
                <li onclick="updateRating(5)" data-order-rating="5"><i class="fa fa-star" id="star-5"
                    title="Rate 5"></i>
                </li>
                <li onclick="updateRating(4)" data-order-rating="4"><i class="fa fa-star" id="star-4"
                    title="Rate 4"></i>
                </li>
                <li onclick="updateRating(3)" data-order-rating="3"><i class="fa fa-star" id="star-3"
                    title="Rate 3"></i>
                </li>
                <li onclick="updateRating(2)" data-order-rating="2"><i class="fa fa-star" id="star-2"
                    title="Rate 2"></i>
                </li>
                <li onclick="updateRating(1)" data-order-rating="1"><i class="fa fa-star" id="star-1"
                    title="Rate 1"></i>
                </li>
              </ul>
            </div>

            <button type="submit" name="gpu_rating_form">Rate</button>
          </form>

          <button class="select-button" onclick="selectComponent('gpu', '{{ gpu.id }}')"><span class="fas fa-cog"></span> Select GPU</button>
          
          {% else %}
          <button class="select-button1" onclick="selectComponent('gpu', '{{ gpu.id }}')"><span class="fas fa-cog"></span> Select GPU</button>
          {% endif %}

        </div>

      </section>

      <section class="component-comparison">
        <button id="chooseButton" class="compare-button">Select GPU to Compare</button>
        <div id="gpuList" class="component-list">
          <input type="text" id="gpuSearch" class="search-input" placeholder="Search GPUs">
          <ul class="component-items">
            {% for other_gpu in other_gpus %}
            <li class="component-item">
              <a href="{% url 'gpu_comparison' gpu.pk other_gpu.pk %}" class="component-link">{{ other_gpu.name }} ({{ other_gpu.chipset }})</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>

    </div>

  </main>
</body>



<script>
  // JavaScript for search functionality
  const gpuSearch = document.getElementById('gpuSearch');
  const gpuItems = document.querySelectorAll('#gpuList ul li');

  gpuSearch.addEventListener('input', () => {
    const searchValue = gpuSearch.value.toLowerCase();
    gpuItems.forEach(gpuItem => {
      const gpuName = gpuItem.textContent.toLowerCase();
      if (gpuName.includes(searchValue)) {
        gpuItem.style.display = 'list-item';
      } else {
        gpuItem.style.display = 'none';
      }
    });
  });

  document.getElementById('chooseButton').addEventListener('click', function () {
    const gpuList = document.querySelector('#gpuList'); // Use querySelector to select the first element with id 'gpuList'
    gpuList.style.display = (gpuList.style.display === 'none' || gpuList.style.display === '') ? 'block' : 'none';
  });


  // Function to update the star rating
  function updateRating(rating) {
    const starElements = document.querySelectorAll('.fa-star');

    // Remove 'checked' class from all stars
    starElements.forEach(star => {
      star.classList.remove('checked');
    });

    // Add 'checked' class to stars up to the selected rating
    for (let i = 1; i <= rating; i++) {
      document.getElementById('star-' + i).classList.add('checked');
    }

    // Set the selected rating in the dropdown
    document.getElementById('gpu_ratingInput').value = rating;
  }
</script>

</html>

{% endblock %}