{% extends 'pc_app/base.html' %}

{% block title %}{{ gpu.brand }} - {{ gpu.model }}{% endblock %}

{% block content %}

{% load custom_filters %}

<h1>Comparison</h1>
<h2>GPU 1:</h2>
<p>Name: {{ gpu1.name }}</p>
<p>Chipset: {{ gpu1.chipset }}</p>
<p>VRAM: {{ gpu1.memory }}</p>
<p>Core Clock: {{ gpu1.core_clock }}</p>
<p>Boost Clock: {{ gpu1.boost_clock }}</p>
<p>Price: {{ gpu1.price|convert_to_myr }}</p>
<p>Color: {{ gpu1.color }}</p>
<p>Length: {{ gpu1.length }}</p>

<h2>GPU 2:</h2>
<p>Name: {{ gpu2.name }}</p>
<p>Chipset: {{ gpu2.chipset }}</p>
<p>VRAM: {{ gpu2.memory }}</p>
<p>Core Clock: {{ gpu2.core_clock }}</p>
<p>Boost Clock: {{ gpu2.boost_clock }}</p>
<p>Price: {{ gpu2.price|convert_to_myr }}</p>
<p>Color: {{ gpu2.color }}</p>
<p>Length: {{ gpu2.length }}</p>

{% endblock %}