{% extends 'base.html' %}

{% block content %}

{% load custom_filters %}

{% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
    </ul>
  {% endif %}

{% if rated_items %}
<h3>Ratings by other users!</h3>
<ul>
    {% for item in rated_items %}
    <li>
      <strong>User:</strong> {{ item.user.username }}<br>
      <strong>Item Name:</strong> <a href="{% url 'item_detail' item.id %}">
        {% if 'amd' in item.cpu.name|lower %}
        AMD Build
        {% elif 'intel' in item.cpu.name|lower %}
        Intel Build
        {% else %}
        Other Build
        {% endif %}
      </a>
      
        <br>
        <strong>Total Price:</strong> {{ item.total_price|convert_to_myr }}<br>
        <strong>Latest Rating:</strong> {{ item.latest_rating|default:"No ratings yet" }}<br>
        <strong>Latest Comment:</strong> {{ item.latest_comment|default:"No comments yet" }}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No rated items yet.</p>
{% endif %}

{% endblock %}
